.panel-default>.panel-heading{
	background-color: rgb(76, 178, 227);
}

#overHead {
	background-color: rgb(122, 135, 151);
	text-align: center;
	padding: 60px 60px;
	border-radius: 5px;
	color: white;
	margin-top: 10px;
	margin-bottom: 20px;

}
